.body {
    background-color: grey;
  }

  .bar {
    background: #c5c6d0;
  }
  
  .brand,
  .lists,
  .close-offcanvas {
    color: white;
  }

.themecolor{
  border:2px solid black;
  box-shadow: 0 0 5px 3px #dddcdc;
}

.themecolor:hover{
  border:2px dotted black;
}

.dark{
  background-color:black;
 
}

.dark:hover{
  border:2px dotted white;
}

.light{
  background-color:white;
}

.neon{
  background-color:#ffe330;
}

  .count {
    color:white;
  }
  
  .display-question,
  .display-options {
    background-color: #424242;
    box-shadow: 0 0 7px 3px rgb(221, 220, 220);
  }

  .question-count {
    color: white;
  }
  
  .question-container {
    color: white;
  }
  
  .button{
    border:1px solid white;
    color:white;
  }
  
  .button:hover{
    background-color: white;
    color:black;
  }
  
  .page-links {
    color: white;
    background-color:#212529;
    border:1px solid;
  }

  .page-links:hover {
    color:#212529;
    background-color:white;
    border-color:white;
  }
  .page-links:focus {
    color:#212529;
    background-color:white;
    border-color:white;
  }

  