.body {
  background-color: #f7f2f3;
}

/* navigation menu*/
.logo {
  width: 90px;
  margin: 0;
  padding: 0;
}

.bar {
  background: #c5c6d0;
}

.brand,
.lists,
.close-offcanvas {
  color: white;
}

.themecolor {
  border: 2px solid black;
  box-shadow: 0 0 5px 3px #dddcdc;
}

.themecolor:hover {
  border: 2px dotted black;
}

.dark {
  background-color: black;
}

.dark:hover {
  border: 2px dotted white;
}

.light {
  background-color: white;
}

.neon {
  background-color: #ffe330;
}

/* question section */
.count {
  color: black;
}

.display-question,
.display-options {
  background-color: white;
  box-shadow: 0 0 7px 3px rgb(221, 220, 220);
}

.question-count {
  color: black;
}

.question-container {
  color: black;
}

.button {
  border: 1px solid black;
}

.button:hover {
  background-color: #212529;
  color: white;
}

.question-count {
  color: black;
}
