.body {
    font-family: "Montserrat";
    background-color: #6c757d;
}

.brand-name {
    font-size: 20px;
    font-family: "ubuntu";
}

.brand-name:hover {
    color: rgb(63, 63, 63);
}

.star {
    color: gold;
    font-weight: bolder;
}

.nav-item {
    padding: 5px 10px;
}



.brand,
.lists,
.close-offcanvas {
    color: white;
}

.brand {
    font-family: "ubuntu";

}

.carousel-slide {
    padding-bottom: 63px;
}

.customise-carousel-item {
    color: white;
    padding: 20px 50px;

}

.heading-one {
    padding: 30px;
    font-size: 3.0rem;
    font-weight: bolder;
    color: white;
}

.gold-gs {
    font-family: "ubuntu";
    color: goldenrod;
    text-decoration: none;
    position: absolute;
    bottom: 1px;
    left: 45px;
    animation-name: gold-gs;
    animation-duration: 1.5s;
    -webkit-animation-name: gold-gs;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.gold-gs:hover {
    color: rgb(63, 63, 63);
}

@keyframes gold-gs {
    0% {
        font-size: 3.0rem;
    }


    100% {
        font-size: 3.5rem;
    }
}

.phone-img,
.iphone-img {

    left: 700px;
    top: 50px;

    position: absolute;
}

.phone-img {
    rotate: 20deg;
}

@media screen and (max-width:835px) {
    .body {
        text-align: center;
    }

    .phone-img {
        position: relative;
        left: 0;
        top: 80px;
        rotate: 5deg;
        margin: auto;

    }

    .iphone-img {
        visibility: hidden;
    }

    .gold-gs {
        position: relative;
        bottom: 0;
        left: 0;
        animation-name: null;
        animation-duration: 1.5s;
        -webkit-animation-name: null;
        -webkit-animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
}

/* slide two */
.button {
    background: #5f666b;
    background-image: -webkit-linear-gradient(top, #5f666b, #7d7f85);
    background-image: -moz-linear-gradient(top, #5f666b, #7d7f85);
    background-image: -ms-linear-gradient(top, #5f666b, #7d7f85);
    background-image: -o-linear-gradient(top, #5f666b, #7d7f85);
    background-image: linear-gradient(to bottom, #5f666b, #7d7f85);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 12px 0px #666666;
    -moz-box-shadow: 0px 12px 0px #666666;
    box-shadow: 0px 12px 0px #666666;
    font-family: "ubuntu";
    color: #ffffff;
    font-size: 25px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    border-style: none;
    animation-name: button;
    animation-duration: 1.5s;
    -webkit-animation-name: button;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.button:hover {
    color: rgb(83, 82, 82);
    background: #5f666b;
    background-image: -webkit-linear-gradient(top, #5f666b, #7d7f85);
    background-image: -moz-linear-gradient(top, #5f666b, #7d7f85);
    background-image: -ms-linear-gradient(top, #5f666b, #7d7f85);
    background-image: -o-linear-gradient(top, #5f666b, #7d7f85);
    background-image: linear-gradient(to bottom, #5f666b, #7d7f85);
    text-decoration: none;
    -webkit-box-shadow: 0 8px 2px #666666;
    -moz-box-shadow: 0 8px 2px #666666;
    box-shadow: 0 8px 2px #666666;
    transform: translateY(8px);
}



.iphone-img {
    rotate: -20deg;
}

/* small screen  */

@media screen and (max-width: 885px) {
    .nav-item {
        padding: 5px 5px;
        font-size: 15px;
    }
}

@media screen and (max-width: 782px) {
    .nav-item {
        padding: 5px 0;
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 580px) {
    .heading-one {
        font-weight: bold;
        font-size: 0.5rem;
    }
}