/* font-family: 'Bungee Spice', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montez', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Ubuntu', sans-serif; */

.body {
  font-family: "Montserrat";
  /* background-color: rgba(247, 243, 243, 0.945); */
  background-color: #f7f2f3;
}

/* navigation menu*/

.brand-name {
  font-size: 20px;
  font-family: "ubuntu";
}

.star {
  color: gold;
  font-weight: bolder;
}

.brain {
  background-color: gold;
  height: 50px;
}
.nav-item {
  padding: 5px 10px;
}

.brand,
.lists,
.close-offcanvas {
  color: white;
}
.brand {
  font-family: "ubuntu";
}

/* question section */
.count {
  text-decoration: none;
  color: grey;
}

.score-image-smile, .score-image-tried, .score-image-lost{
  width:250px;
  display:none;
  margin:auto;
}

.question-texts {
  font-weight: bold;
  font-size: 1.8rem;
}

.display-question,
.display-options {
  width: 80%;
  background-color: white;
  /* box-shadow:rgb(151, 148, 148) 10px 10px 10px; */
  margin: 20px auto;
  /* border:1px outset grey ; */
  border-radius: 7px;
  box-shadow: 0 0 7px 3px rgb(221, 220, 220);
}

.display-question {
  margin: 90px auto 30px;
}
.question-count {
  position: relative;
  top: 5px;
  left: 15px;
  font-weight: bolder;
  font-size: 20px;
  color: grey;
}

.question-container {
  text-align: center;
  color: grey;
  padding: 70px;
}

/* options section */
/* /* .opt-one, .opt-two, .opt-three, .opt-four{ */
/* margin-right:5px; */

.display-options {
  padding: 50px;
}

/* navigating questions */
.navigate-question {
  padding: 0 0 100px;
  width: 80%;
  margin: 0 auto;
}

.next-question,
.previous-question {
  padding: 0 10px;
}

.next-question-btn {
  text-align: right;
}

.previous-question-btn {
  text-align: left;
}

@media screen and (max-width: 580px) {
  .question-texts {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .question-count {
    left: 15px;
    font-size: 15px;
    color: grey;
  }

  .display-question {
    margin-top: 90px;
  }

  .question-container {
    padding: 50px;
  }

  .previous-question-btn {
    text-align: left;
    position: relative;
    bottom:-38px;
    /* background-color:blueviolet; */
  }

    .next-level {
      text-align: right;
      position: relative;
    } 
}

@media screen and (max-width: 885px) {
  .nav-item {
    padding: 5px 5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 782px) {
  .nav-item {
    padding: 5px 0;
    font-size: 15px;
    text-align: center;
  }

  .brain {
    height: fit-content;
  }
}

/* create quiz page */

#inputQuestion {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border: 0;
  margin: 0;
  color: grey;
}

.btn-input {
  border: 0;
  text-align: center;
  color: grey;
}
